<!DOCTYPE html>
<html>
<title>Team-Text</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="text/javascript" src="{{ url_for('static', filename = 'javascr.js') }}"></script>
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<body>

{# Adding Contact Form #}
<div class="col-md-4">
    <div class="contact_form">
        <form action="/add_contact" method="POST" id="contacts">
            <input class="w3-input" name="first_name" type="text" placeholder="First Name*" required>
            <input class="w3-input" name="last_name" type="text" placeholder="Last Name">
            <input type="tel" id="fieldPhone" name="phone" placeholder="(555) 555-1212" required>
            <br>
            <br>
            <button class="w3-bar w3-black" type="submit">Add</button>
        </form>
    </div>
</div>


<div class="col-md-4">
    <div class="select_contacts">
        <form action="/edit_contact" method="POST" id="select_contacts">
            <select id="select_contacts" name="select_contacts" class="selectpicker" multiple>
                {% for name, number in contacts.items() %}
                    <option>{{ name }} | {{ number }}</option>
                    <br>
                {% endfor %}
            </select>
            <button class="w3-bar w3-black" type="submit">Remove</button>
        </form>
    </div>
</div>
</body>
</html>