<!DOCTYPE html>
<html>
<title>Team-Text</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url("{{ url_for('static', filename='signup_page.jpg') }}");
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.w3-display-middle{
    top: 40%;
    left: 50%;
    position: absolute;
}

.signup_box{
    width: 20%;
    left: 40%;
    top: 50%;
    position: absolute;
}

</style>
<body>




<!-- Navbar -->
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-opennav w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{{ url_for('main') }}" class="w3-bar-item w3-button w3-padding-large">HOME</a>
    <a href="{{ url_for('login_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">LOGIN</a>
    <a href="{{ url_for('signup_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">SIGNUP</a>
    <!--<a href="{{ url_for('account_page') }}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">ACCOUNT</a>-->
    <a href="javascript:void(0)" class="w3-padding-large w3-hover-red w3-hide-small w3-right"><i class="fa fa-search"></i></a>
  </div>
</div>






<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">


    <div class="w3-display-middle">
          <h1 class="w3-jumbo w3-animate-top" style="background: black;">JOIN US</h1>
    </div>


        <div class="signup_box">
            <form action="/signup" method=post>
        <!--<div class="flashes" align="center">-->
          <!--{% for message in get_flashed_messages() %}-->
            <!--{{message}}-->
          <!--{% endfor %}-->
        <!--</div>-->
                <input class="w3-input" name="email" type="email" placeholder="Email Address*" required>
                <input class="w3-input" name="password" type="password"  placeholder="Password*" required>
                <input class="w3-input" name="password_verify" type="password"  placeholder="Verify Password*" required>
                <input class="w3-input" name="first_name" type="text"  placeholder="First Name*" required>
                <input class="w3-input" name="last_name" type="text" placeholder="Last Name*" required>
                <button class="w3-bar w3-black" type="submit">Register</button>
            </form>
        </div>
  <div class="w3-display-bottomleft w3-padding-large">
    Powered by "CSS490 - Clouds"</a>
  </div>
</div>

</body>
</html>

